/* llamando una hoja de estilos externa
   @import son una mala practica ya que es una instruccion bloqueante
*/
@import url(./styles/base.css);

html{
    background: black;
    color: green;
    font-size: 18px;
    scroll-behavior: smooth;
}

h1{
    color: white;
}

h2, h3, h4, h5, h6{
    color: blue;
}

#parrafo-dos{
    background-color: yellow;
}

.text-20{
    font-size: 20px;
}

.text-32{
    font-size: 32px;
}

.bg-red{
    background-color: red;
}

.bg-white{
    background-color: white;
}

.text-blue{
    color: blueviolet;
}

.hijos-directos > li{
    background-color: papayawhip;
}

.hijos-descendientes b{
    background-color: white;
}

.hermanos-general ~ li{
    background-color: aqua;
}

.hermanos-adyacentes + li{
    background-color: yellow;
}

.selectores-atributos a[href]{
    color: orangered;
}

.selectores-atributos a[target="_blank"]{
    font-weight: bold;
}

.selectores-atributos a[href*="jonmircha"]{
    font-size: 24px;
}

/* valor de atributo que comienza con la palabra index*/
.selectores-atributos a[href^="http:"]{
    text-decoration: none;
}

/*valor del atributo que termina con una palabra*/
.selectores-atributos a[href$=".com"]{
    background-color: wheat;
}

/*el comodin ~ aplica estilos si contiene el teto en cuestion una lista separada por espacios*/
.selectores-atributos a[class~="cursos"]{
    background-color: aqua;
}

/*El comodin | aplica el estilo si contien el texto en cuestion en una lista separada por espacios
  y despues del texto en cuestion puede venir un guion medio*/
  .selectores-atributos a[class|="menu"]{
    font-style: italic;
  }

/* selector universal*/
*{
    font-family: sans-serif;
}

.selector-universal *{
    font-size: 24px;
}

/* Pseudoclases */
/* estilos para todos los elementos dentro de la clase form-pseudoclases con la pseudoclase required*/
.form-pseudoclases *:required{
    border-color: yellow;
}

.form-pseudoclases *:valid{
    border-color: green;
}

.form-pseudoclases *:invalid{
    border-color: red;
}

.form-pseudoclases *:focus{
    background-color: green;
    color: white;
}

.menu-pseudoclases a:hover{
    color: orange;
}

#temario-css:target{
    background-color: lightgreen;
}

/* pseudoclases por posicion*/
.lista-pseudoclases li:first-child{
    color: papayawhip;
}

.lista-pseudoclases li:last-child{
    color: blue;
}

.lista-pseudoclases li:nth-child(3){
    color: aqua;
}

.lista-pseudoclases li:nth-child(2n){
    color: red;
}

.lista-pseudoclases li:nth-child(3n){
    font-weight: bold;
}

/* estilos para los elementos en posicion pares*/
.lista-pseudoclases li:nth-child(even){
    background-color: skyblue;
}

/* estilos para los elementos en posicion impar*/
.lista-pseudoclases li:nth-child(odd){
    background-color: orange;
}

.articulo-pseudoclases p:first-of-type{
    background-color: aquamarine;
}

/* aplicamos estilos al primer elemento de tipo p*/
.articulo-pseudoclases p:last-of-type{
    background-color: yellow;
}

.articulo-pseudoclases p:nth-of-type(3n){
    background-color: red;
}

.articulo-pseudoclases p:nth-child(odd){
    background-color: white;
}

/*aplicamos estilos a todos los elementos de la clase .articulo-pseudoclases pero menos a los elementos p*/
.articulo-pseudoclases *:not(p){
    background-color: fuchsia;
}
/*fin de pseudoclases*/