/* reseteo el tamanio de todas las cajas de los elementos html empezaran desde el borde*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    margin: 0;
}

h1{
    width: 400px;
    height: 200px;
    border-color: green;
    border-top-color: aqua;
    border-width: thick; /*thin = 1px; medium = 3px; thick = 5px*/
    border-style: solid;
    border: 2px dashed blue; /* todas las propiedades en una sola*/
}

.caja-uno,
.caja-dos{
    background-color: chocolate;
    border: medium solid orange;
    padding: 10px;
    margin: 20px;
    padding: 20px 40px;
    margin: 40px 20px;
    padding: 0 40px 20px; /*aplica 0 para top, 40 para left y right, 20 para bottom*/
    margin: 50px 30px 0;
}

.caja-linea,
.caja-bloque{
    background-color: darkcyan;
    color: white;
    width: 500px; /*este estilo solo se aplica a la caja de bloque*/
    height: 250px; /*ete estilo solo se aplica a la caja de bloque*/
    border: medium solid black;
    padding: 16px; /* nunca se debe aplicar padding vertical a un elemento de linea */
}

.caja-bloque{
    margin: 32px;
    display: block;
}

.caja-linea{
    margin: 48px; /*aplica las dimensiones en horizontal*/
    display: inline;
}

.caja-none,
.caja-linea-bloque,
.caja-hidden{
    background-color: darkolivegreen;
    color: wheat;
    width: 600px;
    height: 300px;
    border: medium solid black;
}

.caja-linea-bloque{
    display: inline-block;
}

.caja-none{
    display: none;
}

.caja-hidden{
    visibility: hidden;
}

.overflow{
    background-color: darkturquoise;
    width: 200px;
    height: 100px;
    /*overflow: hidden;
    overflow: scroll;
    overflow: auto;*/
    overflow-y: scroll;   
}

/* box sizing*/
.box-sizing-content,
.box-sizing-border{
    background-color: papayawhip;
    box-sizing: border-box;
    width: 500px;
    height: 250px;
    padding: 10px;
    border: thick solid black;
    /*width: 500 + 10 + 10 + 5 + 5 = 530*/
    /*height: 250 + 10 + 10 + 5 + 5*/
}

.box-sizing-border{
    box-sizing: border-box;
}
