html{
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.contact-form{
    /*Las variables trabajan en scope es decir del selector donde se definio hacia sus hijos internos*/
    --form-text-color: #333;
    --form-sucess-color: #4caf50;
    --form-error-color : #f44336;
    --form-bg-color: #EEE;
    --form-border-color: #222;
    --form-placeholder-color: #006999;
    
    background-color: var(--form-bg-color);
    border: thin solid var(--form-border-color);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 2rem;
}

/*dentro de contact-form a todos los elementos html que sean hijos directos*/
.contact-form > *{
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    font-family: sans-serif;
    font-size: 1rem;
    padding: .5rem;
    border-radius: .35rem;
    color: var(--form-text-color);
    /*color del cursor*/
    caret-color: var(--form-placeholder-color);
}

/*estilos a los placeholder a todos los elementos dentro del contact-form que son hijos directos*/
.contact-form > *::placeholder{
    color: var(--form-placeholder-color);
}

/*estilos a los hijos directos de .contact-form que tengas la pseudoclase invalid y el atributo required*/
.contact-form > *[required]:invalid{
    border: thin solid var(--form-error-color);
}

.contact-form > *[required]:valid{
    border: thin solid var(--form-sucess-color);
}

.contact-form input[type="submit"]{
    margin-bottom: 0px;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--form-placeholder-color);
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
}

/*aplicamos estilos al boton en estado hover*/
.contact-form input[type="submit"]:hover{
    cursor: pointer;
    opacity: 75%;
}

/*impedimos que se redimensione el textarea*/
.contact-form textarea{
    resize: none;
}