.font{
    font-family: sans-serif;
    font-weight: 900;
    font-variant: small-caps;
    line-height: 2.5;
}

@font-face {
    font-family: "Chalet";
    font-display: swap;    
    /*src: url("../assets/Chalet.woff")format("woff"),
         url("../assets/Chalet2.woff")format("woff2");*/
    src: url("../assets/Chalet.woff")format("woff");
}

@font-face {
    font-family: "Pecita";
    font-display: swap;
    src: url("../assets/Pecita.woff")format("woff");
}

.chalet{
    font-family: "Chalet", sans-serif;
}

.pecita{
    font-family: "Pecita", cursive;
}

.raleway{
    font-family: "raleway", sans-serif;
    font-size: 2rem;
}

.text{
    background-color: salmon;
    border: thin solid black;
    padding: 1rem;
    width: 50%;
    font-size: 2rem;
    text-align: left;
    text-indent: 1rem;
    text-transform: capitalize;
    letter-spacing: 1rem;
}

.text a{
    text-decoration: none;
}

.text-overflow{
    background-color: papayawhip;
    border: thin solid black;
    padding: 1rem;
    font-size: 2rem;
    width: 50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}