html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.box {
    border: thin solid #000;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

.card {
    border: thick solid #000;
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}

/*
Transiciones
    transition-property
    transition-duration
    transition-timing-function: none linear ease ease-in ease-out ease-in-out steps
    transition-delay
    transition: property duration timing-function delay
*/
.transitions .box{
    background-color: magenta;
    border-color: green;
    /*indicamos la propiedad que queremos modificar*/
    transition-property: background-color;
    /*duracion de la transicion*/
    transition-duration: 500ms;
    /*tipo de la aceleracion: elegimos aceleracion general*/
    transition-timing-function: ease;
    /*aplicamos delay a la transicion, que espere medio segundo y luego inicie la transicion */
    transition-delay: 0.5s;
    /*modificamos la propiedad border-color, que dure 3 segundos, que sea un efecto de animacion lineal
      con un delay de 1 segundo*/
    transition: border-color 3s linear 1s;

    /*aplicamos estilos a todas las propiedades que se puedan animar, en nuestro caso se aplicaran a background-color y
      border-color y border-radius. Una duracion de 2 segundos con un efecto de aceleracion ease-in-out, con un delay de 
      250ms*/
    /*transition: all 2s ease-in-out 250ms;*/

    /*en lugar de hacer un .transition: all vamos aplicar transiciones a cada propiedad*/
    transition: background-color 2s ease-in-out 250ms,
     border-color 2s ease-in-out 250ms,
     border-radius 2s ease-in-out 250ms;
}

.transitions .box:hover{
    background-color: cyan;
    border-color: red;
    border-radius: 2rem;
    /*no todas las propiedades son animable como border styles*/
    /*border-style: dashed;*/
}

.transitions .card{
    /*aplicamos la transition a cada propiedad una por una*/
    transition: opacity 1s ease-out, 
     border-color 3s steps(3),
     filter 2s ease-in 1s,
     box-shadow 1.5s linear 2s;
}

.transitions .card:hover{
    opacity: .75;
    border-color: orchid;
    filter: blur(.15rem);
    box-shadow: 1rem 1rem 2rem .5rem #000;
}

/*animamos object-position en x de 0 a 100*/
.transitions .card img{
    /*delay de 3seg: primero realiza las animaciones de .transition .card*/
    transition: object-position 2s ease-in-out 3s;
}

.transitions .card img:hover{
    object-position: 100% 50%;
}

/*Transformaciones en 2D. Las transformaciones se haran sobre la imgaen que esta dentro de la card*/
.transform-2d img{
    /*animamos la propiedad transform*/
    transition: transform .5s ease-in-out;
}

/*las transformaciones se aplicaran en el estado hover de la imagen*/
.transform-2d img:hover{
    transform: none;
    /*movemos la imagen 4rem respecto de su posicion original en el eje X*/
    transform: translateX(4rem);
    /*movemos la imagen 4rem respecto de su posicion original en el eje Y*/
    transform: translateY(4rem);
    transform: translateY(-4rem);
    /*translacion en el eje Z que es el nivel de profundidas*/
    transform: translateZ(4rem);
    /*shorthand translate*/
    transform: translate(-4rem, 4rem);
    transform: translate(-50%, -50%);
    transform: scaleX(2);
    transform: scaleY(.5);
    transform: scaleZ(1.5);
    /*shorthand scale X, Y*/
    transform: scale(1.5, 1.5);
    transform: scale(-1, -1);
    transform: scale(-.5, -.5);

    /*rotacion*/
    transform: rotateX(60deg);
    transform: rotateX(90deg);
    transform: rotateY(90deg);
    transform: rotateZ(60deg);
    transform: rotateZ(-60deg);
    transform: rotate(360deg);
    transform: rotate(-360deg);
    transform: skewX(20deg);/*izquiera*/
    transform: skewX(-20deg);/*derechas*/
    transform: skew(20deg, 20deg);

    /*
    funcion matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY())
    */
    transform: matrix(1,2,2,1,20,10);

    /*Transformaciones multiples en 2D*/
    transform: translate(25%, -50%) rotate(240deg) skew(10deg, 20deg) scale(-.5, -.5);
}

/*aplicando la perspectiva para utilizar transformaciones en 3D*/
.transform-3d{
    perspective: 10rem;
}

/*Transformaciones en 3D
  Para aplicar transformaciones en 3D es necesario activar la perspectiva
  La erspectiva la podemos invocar desde el elemento padre del elemento al que quereos aplicar la tranformacion en 3D
  por lo que para nuestro ejemplo podemos aplicar la perspectiva al elemento article
  La segundo opcion es qu antes de aplicar la transicion podemos activar la perspectiva*/
.transform-3d img{
    transition: 1.3s ease-in-out;
}

.transform-3d img:hover{
    transform: translateZ(4rem);
    transform: perspective(1000px) translateZ(4rem);
    transform: perspective(100rem) translateZ(4rem);
    transform: perspective(1rem) translateZ(4rem);
    transform: perspective(10rem) translateZ(4rem);
    transform: perspective(10rem) translateZ(-4rem);
    transform: translateZ(4rem);
    /*2rem eje x hacia la derecha, 50% eje y hacia abajo y -3rem de profundidad eje z*/
    transform: translate3d(2rem, 50%, -3rem);
    transform: scale3d(2, .5, 3);
    transform: rotateX(60deg);
    transform: rotateY(60deg);
    transform: rotate3d(1, 1, 1, 45deg);
    transform: rotate3d(1, .5, 0, -45deg);
    transform: rotate3d(-1, 2.5, -2, 60deg);
    transform: matrix3d(1,0,0,0,0,1,6,0,0,0,1,0,50,100,0,1.1);
    transform: rotate3d(-1, 2.5, -2, 60deg) translate3d(2rem, 50%, -3rem) scale3d(2, -.5, 3);
}

.transform-origin img{
    transition: transform 2s ease-in-out;
    /*transform-origin: x, y, z*/
    transform-origin: 50% 50% 0;
    transform-origin: 0 0;
    transform-origin: 0;
    transform-origin: top right;
    transform-origin: left center;
}

.transform-origin img:hover{
    transform: rotate(360deg);
}

/*a este elemento aplicamos la transformacion*/
.flip-card-1,
.flip-card-2 {
    border: thick solid #000;
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;

    position: relative;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    perspective: 10rem;
    /*transform-style -> stablece si los hijos d un elemento que tiene perspectiva en 3 dimensiones
      esta propiedad determina como se va a comportar en el espacio 3D*/
      transform-style: flat;
      transform-style: preserve-3d;
}

.flip-card-1 img,
.flip-card-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}

.flip-card-2{
    transform-origin: center right;
}

.flip-card-1:hover{
    transform: rotateY(180deg);
}

.flip-card-2:hover{
    transform: translateX(-100%) rotateY(-180deg);
}

.flip-face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: visible;
    backface-visibility: hidden;
}

.flip-front{
    transform: rotateY(0deg);
}

.flip-back{
    transform: rotateY(180deg);
}

/* representacion de la linea de tiempo de myAwesomeAnimation */
@keyframes myAwesomeAnimation {
    /*toda animacion necesita un punto de entra y uno de salida*/
    /* definimos el fotograma de inicio */
    from{
        opacity: 0;
        transform: translateX(0);
    }

    /* definimos el fotograma final*/
    to{
        opacity: 1;
        transform: translateX(100%);
    }
}

.my-animation{
    /*animation: name duration timing-function delay iteration-count direction fill-mode play-state;*/
    animation-name: myAwesomeAnimation;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(1,0,0,1);
    animation-timing-function: cubic-bezier(.33, .92, .92, .36);
    animation-timing-function: ease-in-out;
    animation-delay: 150ms;
    animation-delay: 0; /*sin delay*/
    animation-iteration-count: 3; /*# de veces que se repetira la animacion*/
    animation-iteration-count: infinite;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-direction: alternate;
    animation-direction: alternate-reverse;
    animation-direction: normal;
    /*al final de la animacion se queda con los estilos finales de al animacion*/
    animation-fill-mode: forwards;
    /*al inicio de la animacion se queda con los estilos iniciales de la animacion*/
    animation-fill-mode: backwards;
    /*both -> aplica al mismo tiempo el valor de forwards y backwards*/
    animation-fill-mode: both;
    animation: myAwesomeAnimation 1.5s ease 250ms 6 alternate both running;
}

@keyframes myAwesomeAnimation2 {
    0%{
        opacity: 0;
        transform: translateX(0);
    }

    50%{
        opacity: 0.5;
        transform: translateX(-50%);
    }

    75%{
        transform: translateX(-75%);
    }

    100%{
        opacity: 1;
        transform: translateX(100);
    }
}

.my-animation-2{
    animation: myAwesomeAnimation2 2s;
}

@keyframes multipleAnimation1 {
    0%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes multipleAnimation2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.animation-multiple{
    animation: multipleAnimation1 2s infinite, multipleAnimation2 2s infinite;
}

.motion-examples{
    text-align: center;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.fade-in{
    font-size: 5vw;
    animation: fadein 2s linear infinite alternate;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.fade-out{
    font-size: 5vw;
    animation: fadeout 2s linear infinite alternate;
}

@keyframes shake {
    10%,
    90%{
        transform: translateX(-1px, 0);
    }

    20%,
    80% {
        transform: translateX(2px, 0);
    }

    30%,
    50%,
    70%{
        transform: translate(-4px, 0);
    }

    40%,
    60%{
        transform: translate(4px, 0);
    }
}

.shake{
    font-size: 5vw;
    cursor: pointer;
    display: inline-block;
}

.shake:hover{
    animation: shake 1s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate(0,0);
}

@keyframes pulse {
    0%{
        transform: scale(1.1);
    }

    50%{
        transform: scale(.8);
    }

    100%{
        transform: scale(1);
    }
}

.pulse{
    font-size: 5vw;
    animation: pulse 2s linear infinite;
}

@keyframes heartColor {
    10%{
        background-color: #d00;
    }
}

.heart{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 10vw;
    height: 10vw;
    animation: pulse 1s infinite;
}

.heart:after,
.heart::before{
    position: absolute;
    content: "";
    left: 5vw;
    top: 0;
    width: 5vw;
    height: 8vw;
    background-color: #a00;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    border-radius: 5vw 5vw 0 0;
    animation: heartColor 1s infinite;
}

.heart::after{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.spinner{
    /*background-color: #a00;*/
    width: 5vw;
    height: 5vw;
    margin-left: auto;
    margin-right: auto;
    border: .5vw solid rgba(0, 0, 0, 0.1);
    border-left-color: #09f;
    border-radius: 50%;
    animation: spinner 1s ease-out infinite;
}

.btn{
    position: relative;
    border: none;
    border-radius: .25rem;
    padding: .2rem;
    width: 15rem;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    box-shadow: .25rem .25rem .5rem .25rem rgba(0, 0, 0, 0.1);
}

.anim-bottom::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0.25rem; /*10% de la altuna del boton*/
    background-color: #d00;
    /*animamos las propiedades width, left y right*/
    transition: width 0.5s ease, left 0.5s ease, right 0.5s ease;
}

/*a los elementos de la clase anim-bottom en estado hover a su pseudoelemento after*/
.anim-bottom:hover::after{
    width: 100%;
}

.to-left::after{
    left: 0;
}

.to-center::after{
    left: 50%;
}

.to-center:hover::after{
    left: 0;
}

.to-right::after{
    right: 0;
}

.anim-bg-gradient{
    background-image: linear-gradient(to right, pink, violet, orange, orangered);
    background-size: 300% 100%;
    transition: background-position .5s ease-in-out;
}

.anim-bg-gradient:hover{
    background-position: 100% 0;
}

.tabs-menu{
    display: flex;
    justify-content: space-between; /*repartimos el spacio entre los elemento*/
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-radius: 1rem;
    width: 70%;
    height: 3rem;
    background-color: #ddd;
}

.tabs-menu input[type="radio"]{
    display: none;
}

/*centramos las etiquetas*/
.tabs-menu label{
    /*el texto siempre estara sobre el fondo div que se posiciona de manera absolute*/
    z-index: 1;
    position: relative;
    /*calculamos el ancho dividiendo el 100% del contener entre los 4 labels*/
    width: calc(100% / 4 - .5rem);
    text-align: center;
    cursor: pointer;
}

.tabs-menu label:hover{
    color: #fff;
}

/* cuando los radios estan en su estado checked afectamos al elemento hermano label */
.tabs-menu input[type="radio"]:checked + label{
    color: #fff;
}

.tab-bg-hover{
    position: absolute;
    /*calculamos el ancho dividiendo el 100% del contener entre los 4 labels*/
    width: calc(100% / 4 - .5rem);
    height: 2rem;
    border-radius: .5rem;
    background-image: linear-gradient(90deg, #a00, #d00);
    /*transicion - transform porque nos trasladamos en x*/
    transition: transform 300ms ease-in-out;
}

/*cuando elemento con id tab-1 este cheched al hermanos con la clase bg-hover aplicamos:*/
#tab-1:checked ~ .tab-bg-hover{
    transform: translateX(0);
}

#tab-2:checked ~ .tab-bg-hover {
    transform: translateX(100%);
}

#tab-3:checked ~ .tab-bg-hover {
    transform: translateX(200%);
}

#tab-4:checked ~ .tab-bg-hover {
    transform: translateX(300%);
}

/*checkbox*/
.off-canvas-btn{
    position: fixed;
        bottom: 1rem;
        right: 1rem;
        z-index: 999;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        /* opacity: 0.25; */
        opacity: 0;
}

/*label*/
.off-canvas-burger{
position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 998;
    width: 3rem;
    height: 0.6rem;
    border-radius: 0.3rem;
    background-color: #d00;
    transform: rotate(0deg) translate(0, -1.2rem);
    transform-origin: top left;
    transition: transform 500ms ease, background-color 500ms ease;
}

/*linea superior del menu hamburguesa::before
  linea inferior del menu hamburguesa::after*/
.off-canvas-burger::before,
.off-canvas-burger::after{
    content: "";
    display: block;
    width: 100%;
    height: 0.6rem;
    background-color: #d00;
    border-radius: 0.3rem;
    transition: transform 500ms ease;
}

.off-canvas-burger::before{
    transform: rotate(0deg) translate(0, -0.9rem);
    /*background-color: blue;*/
}

.off-canvas-burger::after {
    transform: rotate(0deg) translate(0, 0.3rem);
    /*background-color: green;*/
}

/*cuando el elemento con la clase off-canvas-btn en estado checked a su hermano 
  inmediatamente debajo de nombre off-canvas-burger aplicamos*/
.off-canvas-btn:checked + .off-canvas-burger::before{
    transform: rotate(45deg) translate(0,0);
}

.off-canvas-btn:checked+.off-canvas-burger::after {
    transform: rotate(-45deg) translate(.4rem, -.5rem);
}
