html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    scroll-behavior: smooth; /* realiza un scroll suave */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body, h1, h2{
    margin: 0;
}

img{
    max-width: 50%;
    height: auto;
}

/*aplicaos un scroll-margin-top a todas las secciones con atributo id*/
[id]{
    scroll-margin-top: 7.5ex; /*1 ex equivale a 1rem/2*/
}

.header{
    position: sticky;
    top: 0;
    padding: .25rem;
    text-align: center;
    background-color: #000;
    color: #FFFF;
}

.header a{
    margin: 0 1rem;
    color: #00C4D6;
}

.header a:hover {
    color: #E94BB4;
}

/* cada seccion ocupara el 100% de la pantalla*/
.slide{
    padding: 2rem;
    width: 100%;
    min-height: 100vh;
    color: papayawhip;
    background-color: #1E2345;
}

/* Aplicamos estilos a las secciones pares*/
.slide:nth-child(even){
    background-color: #108EB4;
}