.table{
    font-size: 3rem;
    border-collapse: collapse;
    /*valor por defecto*/
    border-collapse: separate;
    empty-cells: hide;
    empty-cells: show; /*por defecto*/
}

table, th, td{
    border: medium solid black;
    border-spacing: 0;
    border-spacing: 1rem;
}