html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.box{
    border: thin solid #000;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

/*las cajas y los textos pueden tener sombras*/
.shadows{
    font-size: 1.5rem;
    /*box-shadow: mov-x mov-y blur-radius spread-blur color inset/outset*/
    box-shadow: 1rem 1rem 1rem 1rem #000;
    box-shadow: 1rem -1rem 1rem 1rem #000;
    box-shadow: -1rem 1rem 1rem 1rem #000;
    box-shadow: 1rem 1rem 1rem 1rem #0005; /*50% de opacidad*/
    /*inset -> sombra interna, por defecto la sombra es outset*/
    box-shadow: 1rem 1rem 1rem 1rem #000 inset;
    box-shadow: 1rem 1rem 2rem 0.5rem #0007;
}

.shadows p{
    text-align: center;
    /*text-shadow: mov-x mov-y blur-radius spread-blur color*/
    text-shadow: 1rem 1rem 1rem #000;
}

/*sombras multiples*/
.shadows-multiple{
    font-size: 2rem;
    text-align: center;
    box-shadow: 1rem 1rem 1rem 1rem #0005, 
                1rem 1rem 1rem 1rem #f00 inset,
                -0.5rem -0.5rem 0.5rem 2rem hotpink;
}

.shadows-multiple p{
    text-shadow: -1rem -1rem 0.5rem hotpink, 1rem 1rem 0.5rem green;
}

.drop-shadow{
    width: 600px;
    height: auto;
}

.drop-shadow img{
    height: auto;
    max-width: 100%;
    /*box-shadow: 1rem 1rem 1rem 1rem #f00;*/
    /*filter: drop-shadow(mov-x mov-y blur-radius color);*/
    /*importante: aplicable a imagen png con transparencia*/
    filter: drop-shadow(1rem 1rem 1rem red);
}

.linear-gradient{
    background-image: linear-gradient(red, green);
    background-image: linear-gradient(red, green, blue);
    /*manejo del degradado en base a grados por defecto inicia en el centro y bottom y se desplaza
      en el sentido de las manecillas*/
    background-image: linear-gradient(0deg, red, green, blue);
    background-image: linear-gradient(45deg, red, green, blue);
    background-image: linear-gradient(90deg, red, green, blue);
    background-image: linear-gradient(180deg, red, green, blue);
    background-image: linear-gradient(340deg, red, green, blue);
    background-image: linear-gradient(to right, red, green, blue);
    background-image: linear-gradient(to top, red, green, blue);
    background-image: linear-gradient(to left, red, green, blue);
    background-image: linear-gradient(to bottom, red, green, blue);
    background-image: linear-gradient(to top left, red, green, blue);
    background-image: linear-gradient(to top right, red, green, blue);
    background-image: linear-gradient(to bottom right, red, green 60%, blue);
    /*creando banderas*/
    background-image: linear-gradient(90deg, green 33%, white 34% 67%, red 68%);
}

.radial-gradient{
    background-image: radial-gradient(cyan, magenta);
    background-image: radial-gradient(cyan, magenta, yellow);
    background-image: radial-gradient(circle 4rem, cyan, magenta, yellow);
    background-image: radial-gradient(circle 4rem, cyan 30%, magenta 80%, yellow);
    background-image: radial-gradient(circle 100px, cyan 30%, magenta 60%, yellow 90%);
    background-image: radial-gradient(circle 100px at top, cyan 30%, magenta 60%, yellow 90%);
    background-image: radial-gradient(circle 100px at bottom, cyan 30%, magenta 60%, yellow 90%);
    background-image: radial-gradient(circle 100px at left, cyan 30%, magenta 60%, yellow 90%);
    background-image: radial-gradient(circle 100px at top left, cyan 30%, magenta 60%, yellow 90%);
    background-image: radial-gradient(ellipse 100px 50px at center, cyan 30%, magenta 60%, yellow 90%);
}

.conic-gradient{
    background-image: conic-gradient(red, green, blue);
    background-image: conic-gradient(red 0% 50%, green 60%, blue 80%);
    background-image: conic-gradient(red 0deg 90deg, green 120deg, blue 120deg 240deg);
    background-image: conic-gradient(from 90deg, red 0deg 90deg, green 120deg 240deg, blue 270deg);
    background-image: conic-gradient(from 180deg, red 0deg 90deg, green 120deg 240deg, blue 270deg);
    background-image: conic-gradient(from 90deg, red 0deg 120deg, white 120deg 240deg, blue 240deg);
}

.repeat-gradient-linear{
    background-image: repeating-linear-gradient(red 0 10px, green 10px 20px, blue 20px 30px);
    background-image: repeating-linear-gradient(90deg, red 0 10px, green 10px 20px, blue 20px 30px);
    background-image: repeating-linear-gradient(45deg, red 0 10px, green 10px 20px, blue 20px 30px);
}

.repeat-gradient-radial{
    background-image: repeating-radial-gradient(circle 4rem, cyan 0 10px, magenta 10px 20px, yellow 20px 30px);
}

.repeat-gradient-conic{
    background-image: repeating-conic-gradient(red 0 8%, yellow 8% 16%, black 16% 24%);
}

.chart-gradient{
    background-image: conic-gradient(cyan 0% 50%, magenta 50% 80%, yellow 80%);
    border-radius: 50%;
}

.donut-gradient{
    background-image: radial-gradient(white 30%, black 31%, transparent 33%), conic-gradient(cyan 0% 50%, magenta 50% 80%, yellow 80%);
    border-radius: 50%;
}

.card {
    border: thick solid #000;
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;

    /*aplicando filtros*/
    filter: blur(0.12rem);
    filter: brightness(0.75);
    filter: brightness(0.35);
    filter: contrast(0.5);
    filter: contrast(0.75);
    filter: grayscale(0.25);
    filter: grayscale(0.65);
    filter: sepia(0.75);
    filter: sepia(0.25);
    filter: hue-rotate(30deg);
    filter: hue-rotate(60deg);
    filter: hue-rotate(90deg);
    filter: invert(0.18);
    filter: invert(0.35);
    filter: opacity(0.80);
    filter: saturate(0);
    filter: saturate(0.75);
}